div {
  &#about {
    text-align: center;
    height: 400px;
    position: relative;
    span {
      float: left;
    }
    .icon-wrapper {
      margin: 0.5%;
      width: 20px;
      height: 20px;
      :hover {
        color: grey;
        cursor: pointer;
      }
    }
  }
  span {
    &.summary {
      display: inline-block;
      vertical-align: middle;
      width: 50%;
      position: absolute;
      height: 100px;
      top: 50%;
      right: 4%;
      margin-top: -50px;
    }
  }
}
