div {
  .experience-wrapper {
    clear: both;
    display: block;
    height: 400px;
  }
  .tab-wrapper {
    width: 70%;
    height: 10%;
    margin: auto;
    .open {
      background-color: lightblue;
      border: solid;
      border-radius: 5px;
    }
    .contents {
      background-color: lightcoral;
    }
  }
}
