div {
  &.title-wrapper {
    width: 100%;
    h1 {
      &.title {
        margin-bottom: -1%;
        margin: auto;
      }
    }
  }
  .experience-wrapper {
    text-align: center;
    clear: both;
    display: block;
    margin-top: 5%;
    width: 90%;
    text-align: center;
    margin: 0 auto;
    h1 {
      margin: auto;
    }
    .collapse-wrapper {
      :hover {
        background-color: lightgrey !important;
      }
    }
    .rc-collapse-header {
      height: 100px;
    }
    .inner-wrapper {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      text-align: center;
      margin: auto;
      .collapse-wrapper {
        margin: auto;
        margin-top: 10px;
        display: inline-block;
        width: 100%;
        background-color: lightblue;
        border: solid;
        border-radius: 5px;
      }
    }
  }
  .job-info {
    height: 100%;
    width: 100%;
    display: flex;
    img {
      float: left;
      &.job-icon {
        height: 100%;
      }
    }
    div {
      &.job-intro {
        margin-left: 5%;
        float: left;
        text-align: initial;
        .job-title {
          font-weight: bold;
          font-family: Verdana, Geneva, Tahoma, sans-serif;
          color: black;
        }
        .job-short {
          font-size: small;
        }
      }
    }
  }
}
