div {
  .experience-wrapper {
    clear: both;
    display: block;
    height: 400px;
    .inner-wrapper {
      width: 80%;
      display: inline-block;
      text-align: center;
      .collapse-wrapper {
        margin-top: 10px;
        display: inline-block;
        width: 80%;
        background-color: lightblue;
        border: solid;
        border-radius: 5px;
      }
    }
  }
}
