#footer {
  background-color: #67676b;;
  margin: 0;
  height: 50px;
  color: #60b4ef;
  text-align: center;
  .footer-text { 
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}