$bg-color: #67676b;
$bl-color: #60b4ef;

.front-wrapper {
  font-family: monospace;
  font-size: 2vw;
  font-weight: bold;
  line-height: 1.7;
  background-color: $bg-color;
  padding: 25px 50px;
  float: none !important;
}

.TypistExample {
  text-align: center;
  &-header {
    margin-top: 5%;
    margin-bottom: 12%;
    text-align: center;
    width: 100%;
    font-size: 4vw;
    color: $bl-color;
  }
  &-message {
    color: $bl-color;
    width: 100%;
    margin: auto;
    .flash {
      color: $bl-color;
      font-weight: bold;
      text-decoration: underline;

      animation-name: blinker;
      animation-duration: 0.7s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      @keyframes blinker {
        0% {
          opacity: 1;
        }
        50% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
    }
  }
}

.down-arrow {
  color: $bl-color;
  display: inline-block;
  :hover {
    cursor: pointer;
    color: lightgrey;
  }
}
